.HA_VERSION
deps-nonroot/
.uuid
deps-old/
deps/
home-assistant.log
home-assistant_v2.db
secrets.yaml
ios.conf
*.swp
.ios.conf
known_devices.yaml
phue*.conf
www/
letsencrypt.log
entity_registry.yaml
.storage/
.homekit.state
nohup.out
