.HA_VERSION
deps-nonroot/
.uuid
deps-old/
deps/
home-assistant.log
home-assistant_v2.db
secrets.yaml
ios.conf
.ios.conf
known_devices.yaml
phue*.conf
www/
letsencrypt.log
entity_registry.yaml
